
---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/about/TimeLine.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Just an ordinary person with an extraordinary passion for game development, aspiring to become a game programmer. Besides game development, I have a keen interest in cybersecurity, anime, and the Japanese language.I enjoy learning something new whenever I can 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PKBM BINA CIPTA Ujung Berung Paket C Jurusan IPS"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Bug hunter"
      subtitle="From 09/2019 - Present"
    >
    <li>Finding vulnerabilities in web app and API's.</li>
    <li>Reported Various vulnerabilities such as (XSS, IDOR,CSRF,Business logic,etc)</li>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Achievements</div>
  </div>
  <ul class="list-disc mx-6 mb-5">
    <li>BukaBounty Wall of Fame</li>
    <li>KASKUS Hall of Fame</li>
    <li>Iconfinder Hall of fame</li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Unity</li>
    <li>C#</li>
    <li>Git</li>
    <li>Visual Studio</li>
    <li>Firebase</li>
    <li>SQL</li>
    <li>REST API</li>
  </ul>
</BaseLayout>
