---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold text-white">I'm Daffa Ilham Ramadan</div>
    <div class="text-3xl py-3 font-bold">Game Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Just an ordinary person with an extraordinary passion for <b>game development</b>, aspiring to become a <b>game programmer</b>. Besides game development, I have a keen interest in cybersecurity, anime, and the Japanese language.I enjoy learning something new whenever I can
      </text>
    </div>
    <div class="mt-8">
      <a href="/Daffa Ilham Ramadan - CV.pdf" target="_blank" class="btn btn-outline btn-success">
        Download cv
      </a>
    </div>
  </div>
</BaseLayout>
